* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
}

h1 {
  font-size: 1.75em;
  padding: 20px;
}

section {
  margin: 10px;
  border: 1px solid black;
  background-color: #C0C0C0;
}

p {
  clear: right;
  padding: 5px;
}

h2 {
  position: relative;
  top: 0;
  left: 75%;
  margin: 0;
  font-size: 1.25em;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  width: 25%;
  padding: 10px;
}

#chicken h2 {
  background-color: lightgreen;
}

#beef h2 {
  background-color: yellow;
}

#sushi h2 {
  background-color: lightblue;
}


.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    width: 50%;
  }
  .col-md-12 {
    float: left;
    width: 100%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
}
